:root {
	--shade-one: #e3e3e3;
	--shade-two: #dadada;
	--shade-three: #b8b8b8;
	--shade-four: #969696;
	--shade-five: #747474;
	--shade-six: #525252;
	--text: #282828;
	--background: #fdfdfd;
	--primary: #6a1ce8;
	--secondary: #f386aa;
	--accent: #ed6052;
	--success-color: #4fc74f;
	--danger-color: #ff4848;

	--font-size-one: 1em;
	--font-size-1-9-1: 0.95em;
	--font-size-3_4: 0.75em;
	--font-size-half: 0.5em;
	--font-size-1_4: 0.25em;
	--font-size-two: 2em;
	--font-size-2-3_4: 1.75em;
	--font-size-2-half: 1.5em;
	--font-size-2-1_4: 1.25em;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: var(--text);
	background-color: var(--background);
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 5px; /* width of vertical scrollbar */
	height: 10px; /* height of horizontal scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 5px;
}

/* Handle (the draggable thing) */
::-webkit-scrollbar-thumb {
	background: var(--shade-four);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--shade-six);
}

div,
p {
	background-color: transparent;
}

#root {
	display: grid;
	grid-template-rows: 50px calc(100vh - 50px);
	overflow: hidden !important;
}

body {
	font-family: Arial, sans-serif;
	height: 100vh;
	overflow: hidden !important;
}

#theme-toggle {
	background-color: var(--background);
	border: none;
	transform: scale(1.5);
}

header {
	background-color: var(--background);
}

.navbar {
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	color: var(--text);
	height: 50px;
}

#navbar_icons {
	display: grid;
	grid-template-columns: 200px 50px 30px;
	width: 300px;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

#width_mode_div {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	border: 1px solid var(--shade-six);
}

#width_mode_div .btn {
	border: 1px solid var(--shade-six);
	border-radius: 0px !important;
	font-size: var(--font-size-3_4);
}

#styles_Per_View_Mode_Img {
	width: 100%;
	height: 28px;
	border-radius: 2px;
	padding: 2px;
}

.logo {
	font-size: 1.2rem;
	font-weight: bold;
}

nav input[type='checkbox'] {
	display: none;
}

.menu-icon {
	display: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-links a {
	color: var(--text);
	text-decoration: none;
	transition: color 0.3s;
}

.nav-links a:hover {
	color: var(--shade-three);
}

@media (max-width: 768px) {
	.menu-icon {
		display: block;
	}

	.nav-links {
		flex-direction: column;
		width: 100%;
		display: none;
		position: absolute;
		top: 5vh;
		margin-top: 10px;
		background-color: white;
	}

	input:checked ~ .nav-links {
		display: flex;
	}
}

main {
	display: grid;
	grid-template-columns: 20vw auto 20vw;
	overflow: hidden !important;
	height: calc(100vh - 50px);
}

#right_sidebar {
	/* background-color: var(--shade-one); */
	box-shadow: 0px 5px 5px var(--shade-five);
	height: calc(100vh - 50px) !important;
	z-index: 1;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}

#right_sidebar > * {
	width: 20vw;
	overflow-x: scroll;
}

#right_sidebar > .heading {
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	padding-bottom: 10px;
}

.properties_div > h2 {
	margin-top: 20px;
	margin-left: 10%;
	cursor: pointer;
	display: grid;
	align-items: center;
	font-size: var(--font-size-2-half);
}
.property_section {
	display: grid;
	width: 90%;
	margin: 20px auto;
	grid-template-columns: 16% 60% 24%;
	align-content: center;
}

.property_section label {
	margin-top: 12px;
	font-size: var(--font-size-1-9-1);
}
.property_section > input {
	font-size: var(--font-size-3_4);
	border: none;
	border-bottom: 1px solid;
}
.property_section select {
	font-size: var(--font-size-3_4);
	border: none;
	border-bottom: 1px solid;
}

#page_viewer {
	background-color: var(--shade-two);
	position: relative;
	overflow: hidden;
}

.draggable {
	width: 150px;
	height: 150px;
	background-color: #4caf50;
	position: absolute;
	top: 20%;
	left: 40%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	user-select: none;
}

#page {
	min-width: 300px;
	min-height: 300px;
	background-color: white;
	margin: unset !important;
	padding: unset !important;
	box-sizing: unset !important;
}

#page * {
	margin: unset;
	padding: unset;
	box-sizing: unset !important;
	color: initial !important;
	background-color: transparent !important;
}

#left_sidebar {
	background-color: var(--shade-one);
	box-shadow: 0px 5px 5px var(--shade-five);
	z-index: 1;
	display: grid;
	grid-template-rows: 50px 45vh 40vh;
}

#left_sidebar > * {
	width: 20vw;
	overflow-x: scroll;
}

#select_active_page {
	display: grid;
	grid-template-columns: 60px auto 15% 15%;
	gap: 2px;
	height: 50px;
	margin-right: 10px;
	text-align: center;
	align-items: center;
}

#select_active_page button {
	background-color: var(--primary);
	color: white;
}

#dialog_box_container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	justify-content: center;
	align-items: center;
}

.dialog_box {
	padding: 70px 70px 50px 70px;
	margin-top: -200px;
	width: 400px;
	background-color: var(--background);
	text-align: center;
	position: relative;
	border-radius: 10px;
	display: none;
}

.dialog_box > * {
	margin: 10px auto;
}

.dialog_box .input,
.dialog_box .select {
	width: 100%;
}

.dialog_box > .closebtn {
	position: absolute;
	top: 5px;
	right: 10px;
}

#dialog_box_container .msg {
	color: white;
	padding: 5px;
	display: none;
}

.warning_msg {
	background-color: var(--danger-color);
}

.success_msg {
	background-color: var(--success-color);
}

#hierarchy_div {
	display: grid;
	grid-template-rows: 30px auto;
	padding-top: 10px;
	background-color: var(--background);
}

#elements_div {
	display: grid;
	overflow-y: scroll;
	gap: 5px;
	padding: 10px 5px;
}

#elements_div > button {
	height: 40px;
}

/* --------------Hierarchy classes------------------------ */
.tree,
.tree ul {
	list-style-type: none;
}

.tree li {
	padding-bottom: 5px;
	padding-left: 15px;
}

.tree {
	background-color: var(--background);
	color: var(--text);
	/* padding-top: px; */
	display: grid;
	width: 100%;
}

.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection on click */
	padding: 5px !important;
}

/* --------------general classes------------------------ */
.primary-bg {
	background-color: var(--primary);
	color: white;
}

.primary-color {
	color: var(--primary);
}

.font-bold-700 {
	font-weight: 700;
}

.outlined {
	outline: 2px solid var(--primary);
}

.btn {
	background-color: var(--background);
	color: var(--text);
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-one);
	border-radius: 5px;
}

.btn:hover {
	filter: brightness(105%);
}

.btn_border {
	border: 1px solid var(--shade-six);
}

.btn:active {
	transform: scale(0.95);
}

.danger_btn {
	background-color: var(--danger-color) !important;
}

.select {
	padding: 5px;
	font-size: var(--font-size-one);
	border-radius: 5px;
}

.input {
	padding: 10px 15px;
	border-radius: 5px;
}

.top_border {
	border-top: 1px solid var(--shade-six);
}

.bottom_border {
	border-bottom: 1px solid var(--shade-six);
}

/* ------------------------------------------------------------ */
